fastapi
uvicorn
google-cloud-storage
google-cloud-firestore
google-cloud-retail
google-generativeai
firebase-admin
pydantic
python-dotenv
git+https://github.com/Universal-Commerce-Protocol/python-sdk.git
